*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-weight: 100;
    font-size: 24px;
}

p {
    padding: 0 1.5em;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #8058A5;
}

h1, h2, h3 {
    font-weight: 100;
}

code {
    display: inline-block;
    vertical-align: top;
    background: #eee;
    padding: 0.25em;
    font-size: 14px;
    color: #666;
    border-radius: 3px;
    margin-top: 8px;

    word-wrap: break-word;
    word-break: break-word;
}

strong, b {
    font-weight: 100;
    color: #8058A5;
    font-size: 120%;
}

.title {
    color: #8058A5;
    margin: 0;
}

.subtitle {
    font-size: 1.5em;
    margin: 0;
    display: inline-block;
    min-width: 135px;
}

header {
    background: #C883FF;
}

.header {
    text-align: center;
    margin: 0 auto;
    padding: 3em 0;
    max-width: 768px;
}

.base {
    color: #fff;
    margin: 0 auto;
    padding: 0;
    max-width: 320px;
}

main {
    margin: 2em auto;
}

.quote {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

.content {
    max-width: 600px;
    margin: 3em auto;
    text-align: center;
}

.content article {
    font-size: 16px;
    text-align: left;
    margin-bottom: 1em;
    padding: 0 1em;
}

.facebook .subtitle,
.facebook code span {
    color: #3b5998;
}

.twitter .subtitle,
.twitter code span {
    color: #55ACEE;
}

.google-plus .subtitle,
.google-plus code span {
    color: #dd4b39;
}
